header {
    background: white;
    color: #6b4040;
}

.logo {
    color: #6b4040;
}

.logo2 {
    color: #add430;
}

body {
    background-color: #f2f2f2;
    /*font-family: "Arial";*/
    font-size: 16px;
    color: black;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    /*margin: 70px;*/

    padding: 0;
    margin: 0 auto;
}

h1, h2 {
    color: #add430;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}
/* opisanie ssylok */

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

footer {
    background: #bb906a /*#add430*/;
    text-align: center;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.slider {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.19)*/;
}

.cards {

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /*padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0;*/

}

.card1 {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    width: 45%;

   /* box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.19);*/
    transition: 0.3s all;
}

.titles_card {
    color: green;
    min-width: 250px;

}

* {
    box-sizing: border-box;
}

div {
    display: block;
}
